.container {
    width: 800px;
    margin: 0 auto;
    background: orangered;
    padding: 2rem;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}

.poster {
    width: 50%;
    margin:  0 auto;
    text-align: center;
}
.info p{
    font-size: 1.3rem;
}

.info ul {
    list-style: none;
}